{% extends 'base.html' %}
{% block content %}


<!-- Seed Form -->
  <div id="seed-form">
    <div class="form-inline">
      <div class="form-group search-input">
        <div class="input-group" id="selected-track">
          <span class="input-group-text"> <i class="bi bi-x"></i> </span>
        </div>

        <div class="input-group" id="search-input">
          <span class="input-group-text"> <i class="bi bi-search"></i> </span>
          <input class="form-control seed-form" id="title" name="title" autocomplete="on" placeholder="Search track name"/>
        </div>
      </div>

      {% for field in form1 if field.widget.input_type != 'hidden' %}
        <div class="form-group select-input">
          {{field.label}}
          {{field (class="form-control seed-form") }}
        </div>
      {% endfor %}
      <button class="btn submit-btn"> <i class="bi bi-music-note-list"> </i> </button>
      <div id="loading" class="spinner-border" role="status">
        <span class="sr-only"></span>
      </div>
      <button class="btn save-btn" data-toggle="modal" data-target="#save-modal"> Save Playlist </button>
    </div>

    <ul class="search-results" id="search-results"> </ul>
  </div>



<!-- Suggested Tracks -->
  <div id="playlist" class="playlist">
    <table class="playlist-table table table-dark .table-borderless table-hover">
      <thead>
        <th/>
        <th/>
        <th> Track </th>
        <th> Album </th>
        <th class="year-col"> Year </th>
        <th class="popularity-col"> Popularity </th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>



<!-- Modal -->
<div class="modal fade" id="save-modal" tabindex="-1" role="dialog" aria-labelledby="save-modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Save Playlist</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="modal-alert"> </div>
        <div class="col-5">
          <img id="plImage"/>
        </div>
        <div class="col-7">
          {{ form2.plName (class="form-control modal-field", placeholder="Add a name") }}
          {{ form2.plDescription (class="form-control modal-field", placeholder="Add an optional decription") }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light modal-save">SAVE</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
